<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Document Classification Prediction</title>
  <style>
  body {
	background-image: url("https://textuts.com/images/tutorials/sparkles/Background.jpg");
        background-repeat:no-repeat;
        background-size:cover;
      } 
  .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
  .form{
  text-align:center;
  font-size: 30px;
}

  </style>
  </head>

<body>
 <center><div class=form><font color="white">
	<h1>Document Classification Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
     <textarea name="message" placeholder="Document Content" rows="10" cols="100" style="border:groove 6px orange;" required="required"></textarea>
      <br><div><button type="submit" class="button">Predict Type of Document</button></div>
    </form>
   <br>
   <br><b>
   {{ prediction_text }}
  <b></font>
 </div></center>
